@use "../../../variables.scss" as *;
.compContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.selector {
  width: 100%;
}
.borders {
  border-left: 1px solid $border;
  border-bottom: 1px solid $border;
}
.stackedBorders {
  border-bottom: 1px solid $border;
}
