@use "../variables.scss" as *;
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../node_modules/bootstrap/scss/variables";
.row {
  display: flex;
  justify-content: space-between;
}
.breadCrumbContainer {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: black;
  border-bottom: 1px solid $border;
  padding: 0.5rem;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}

.stateSelectorContainer {
  background-color: black;
  padding: 0rem !important;
}
.stateViewerContainer {
  background-color: black;
  border-radius: 0px 0px 0.25rem 0.25rem;
  max-height: 400px;
  overflow: auto;
  padding: 1rem;
}

.selectorElipsisMenu {
  display: flex;
  justify-content: center;
  background-color: black;
  border-bottom: 1px solid $border;
  padding: 0.1rem;
  cursor: pointer;
  i {
    font-size: 1.25rem;
    color: $primary;
  }
}

.reverseRow {
  display: flex;
  flex-direction: column-reverse;
}
