@use "../../../variables.scss" as *;

.compContainer {
  font-family: $font-family;
  font-size: 0.75rem;
  color: white;
}

@supports (font-variation-settings: normal) {
  .compContainer {
    font-family: "Fira Code VF", monospace;
    font-size: 0.75rem;
  }
}

.iconType {
  color: $primary;
  padding-right: 0.5rem;
}

.iconArrow {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
