@use "../../../variables.scss" as *;
.compContainer {
  height: 100%;
  display: flex;
  justify-content: end;
}

.positionIcon {
  width: 1.25rem;
  cursor: pointer;
  opacity: 0.4;
  margin: 0rem 0.2rem 0rem 0.2rem;
  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
}
